# python files
__pycache__

# pycharm
.idea/

# local data
abominable_intelligence/data/config.json
abominable_intelligence/data/data.json
abominable_intelligence/data/sql.json

# local scripts
abominable_intelligence/extensions/test.py
